doctype html
html
	head
		title Quan Huynh
		meta(name="description", content="Quan Huynh's Personal Website")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
<<<<<<< HEAD
		link(href='https://fonts.googleapis.com/css?family=Dosis:600,700,500,400' rel='stylesheet' type='text/css')
=======
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Hind:400,500,600,700", type="text/css")
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28
		link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
		link(rel="shortcut icon", type="image/x-icon", href="assets/img/page-icon.ico")
	body
		.top-nav
			.col-sm-1.col-xs-12
				img(src="assets/img/head_icon.jpg")
			.col-sm-11.col-xs-12
				ul.breadcrumb.text-right
					li: a(href="#about-lander") About
					li: a(href="#work") Work
					li: a(href="https://medium.com/@quanhuynh96", target="_blank") Blog
					li: a(href="resume.pdf", target="_blank") Résumé
		
		.title
			.title-container
				#name Quan Huynh
				#slogan Software | Interweb | Design

		.actual-content
			
			.row.about#about-lander
				.window#window-about
					.tint#tint-about
						.header-text About

				.col-lg-12.main-about
<<<<<<< HEAD
					.summary I am a student from UC Berkeley and I'm interested in software, from making websites to algorithms.
=======
					.summary I am a student from UC Berkeley and I'm interested in software, from making websites to algorithms. <a href="mailto:quanhuynh96@berkeley.edu"><strong>Hit me up</strong></a>.
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28
					
					.about-unit
						.about-heading What I do
						.col-sm-4.col-xs-12
							img(src="assets/img/code2.png")
							.sub <strong> Code </strong>
							p I spend time turning quality sleep into quality code. I like programming in Java and Python.
						.col-sm-4.col-xs-12
							img(src="assets/img/brush.png")
							.sub <strong> Design </strong>
							p I play with pixels on Photoshop to create pretty pictures, icons, wireframes, etc.
						.col-sm-4.col-xs-12
							img(src="assets/img/code.png")
							.sub <strong> Develop </strong>
							p I try to make the interweb a beautiful place, one site at a time, using HTML, CSS, JS, and Bootstrap.
					
					.about-unit
						.about-heading What I also do (in my free time)
						.col-sm-4.col-xs-12
							img(src="assets/img/archery.png")
							p I am an active member of Cal Archery and I help teach an archery class at UC Berkeley.
						.col-sm-4.col-xs-12
							img(src="assets/img/sudoku.png")
							p I solve sudoku puzzles for fun sometimes.
						.col-sm-4.col-xs-12
							img(src="assets/img/book.png")
							p I enjoy a wide set of novels and my favorite author is Arthur Conan Doyle.
							
			.row.work#work
				.window#window-work
					.tint#tint-work
						.header-text Work

				.work-content
					.col-xs-12.work-unit
<<<<<<< HEAD
						.work-title Java Matrix Computation Package
						.col-lg-6.col-md-12
							img(src="assets/img/work1.png")
						.col-lg-6.col-md-12.work-description
							p Linear algebra package made in Java, for Java. Package contains 25+ methods for working with matrices.
							p Methods include elementary operations like addition, multiplication, to more complex ones like finding inverse, solving matrix equations, row reductions.
							p Project also includes downloadable jar file and online documentation.
							a(href="http://github.com/quanhuynh/PresentText", target="_blank").more-button Details
					
					.col-xs-12
						hr

					.col-xs-12.work-unit
=======
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28
						.work-title CodeSaver
						.col-lg-6.col-md-12
							img(src="assets/img/work0.png")
						.col-lg-6.col-md-12.work-description 
							p Code storage application built to store snippets of code for easy access and classification.
							p The application features a simple interactive GUI and accessible information on each run by connecting to a local database.
							p Made with Java and some MySQL through the JDBC API
							a(href="http://github.com/quanhuynh/CodeSaver", target="_blank").more-button Details
					
<<<<<<< HEAD
					.col-xs-12
						hr
=======
					hr

					.col-xs-12.work-unit
						.work-title PresentText
						.col-lg-6.col-md-12
							img(src="assets/img/work1.png")
						.col-lg-6.col-md-12.work-description
							p A Chrome extension putting focus on smaller passages for easy reading or presentation. 
							p The extension works by darkening the page (a dark layover with high opacity and high z-index is injected into the page's html) leaving the highlighted portion for easy reading. 
							p The layover is made up of four blocks of rectangles and is responsive, meaning it will keep on a selected passage when the user scrolls.
							p Built with JavaScript.
							a(href="http://github.com/quanhuynh/PresentText", target="_blank").more-button Details
					
					hr
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28

					.col-xs-12.work-unit
						.work-title MC Nails
						.col-lg-6.col-md-12
							img(src="assets/img/work2.png")
						.col-lg-6.col-md-12.work-description 
							p Static website for a local beauty business in Fairfax, VA.
							p I made this website for free as my first professional (kind of) web dev project. The site features basic information including hours, location, services, etc.
							p The site is framed in Bootstrap with a responsive design. jQuery and a bit of AngularJS was also used.
							a(href="http://mcnails.org", target="_blank").more-button Visit site

<<<<<<< HEAD
					.col-xs-12
						hr
=======
					hr
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28

					.col-xs-12.work-unit
						.work-title DailyProgrammer
						.col-lg-6.col-md-12
							img(src="assets/img/work3.png")
						.col-lg-6.col-md-12.work-description 
							p Code portfolio consisting of mini-projects at different levels of difficulty.
							p My personal portfolio of solutions to some challenges of the DailyProgrammer subreddit. I have taken inspiration and extended some problems to create my own projects, such as an interactive Conway's Game of Life and a Langton's Ant simulator. The image here shows my version of Minesweeper and a result of Langton's Ant (this one was taken after 12 millions LA generations)
							p Most projects are done in Java and Python, although that will change as I expand my toolkit.
							a(href="http://github.com/quanhuynh/DailyProgrammer", target="_blank").more-button Details

		#contact.col-xs-12
			h1 Interested in working with me? Want to say hi?
<<<<<<< HEAD
			h3 <a href="mailto:quanhuynh96@berkeley.edu", target="_blank"> Hit me up <strong></strong></a>
=======
			h3 <a href="mailto:quanhuynh96@berkeley.edu", target="_blank"> Leave me a message <strong></strong></a>
>>>>>>> a1e5f15b4deb7c7f433413cac8dd404daeabdf28

		.footer.col-xs-12
			.icons
				a(href="http://github.com/quanhuynh", target="_blank"): img(src="assets/img/github.png")
				a(href="http://facebook.com/quanwuin", target="_blank"): img(src="assets/img/fb_icon.png")
				a(href="http://linkedin.com/in/quanhuynh", target="_blank"): img(src="assets/img/in_icon.jpg")
				a(href="mailto:quanhuynh96@berkeley.edu", target="_blank"): img(src="assets/img/mail_icon.png")
			.closing.col-xs-12
				p Website and all components created by me, with love	&#60;3

		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src="assets/js/functions.js")