doctype html
html
	head
		title Quan Huynh
		meta(name="description", content="Quan Huynh's Personal Website")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Poiret+One|Ubuntu+Condensed|Roboto:100,200,600|Oswald|Roboto+Slab|Hind", type="text/css")
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
	
	body
		.container
			#picture
				img(src="assets/img/glasses.png")
			
			.title
				#name Quan Huynh
				#slogan WebDev Enthusiast
			
			.col-lg-12
				ul.breadcrumb.text-right
					li: a(href="index.html") Home
					li: a(href="resume.html") Résumé
					li: a(href="") Projects
			
			.col-xs-12.divider-col
				div.divider

			.row.actual-content
				.col-lg-3.col-md-6.col-sm-12.col-xs-12#content-picture.pull-left
					img(src="assets/img/head_icon.jpg")
				.col-lg-9.col-md-6.col-sm-12.col-xs-12#about
					h4 Hi there!
					p I'm Quan, and I'm currently a first year Computer Science student at the University of California, Berkeley. I am very interested in front-end development and am striving to improve as much as I can. I wrote my first line of HTML in January 2015 and have learned so much since then.
					p Right now, I am occupying myself with a few beginner web development projects, such as redesigns and concept websites. Feel free to check out my résumé and projects, though both are in their early stages. 
					p Besides that, I am an active member of the Cal Archery Club. I plan on shooting competitively soon. I also have a passion for dystopian novels and films, red velvet desserts, physics, comics, and sudoku puzzles.

			footer.row
				.footer.col-xs-12
					.container
						a(href="http://facebook.com/quanwuin"): img(src="assets/img/fb_icon.png")
						a(href="http://linkedin.com/in/quanhuynh"): img(src="assets/img/in_icon.jpg")
						a(href="http://instagram.com"): img(src="assets/img/insta_icon.png")
						a(href="mailto:quanhuynh@berkeley.edu"): img(src="assets/img/mail_icon.png")