doctype html
html
	head
		title Quan Huynh
		meta(name="description", content="Quan Huynh's Personal Website")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Hind:400,500,600,700", type="text/css")
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
	
	body
		.container
			#picture
				img(src="assets/img/glasses.png")
			
			.title
				#name Quan Huynh
				#slogan Web Enthusiast
			
			.col-lg-12
				ul.breadcrumb.text-right
					li: a(href="index.html") Home
					li: a(href="#work") Work
			
			.col-xs-12.divider-col
				div.divider


			.actual-content
				.row.about
					.header.col-xs-12 About Me
					.col-lg-3.col-md-6.col-sm-12.col-xs-12#content-picture.pull-left
						img(src="assets/img/head_icon.jpg")
					.col-lg-9.col-md-6.col-sm-12.col-xs-12#about
						p Hi there!
						p I'm Quan, and I'm currently a first year Computer Science student at the University of California, Berkeley. I have a special interest in web development and software engineering.
						p I am occupying myself with personal projects and tutorials, both in web development and software works. Check out my résumé on this page.
						p Besides that, I am an active member of the Cal Archery Club. I also have a passion for dystopian novels and films, design methods, red velvet desserts, <a href="http://www.colorhexa.com/703030">#703030</a>, physics, comics, and sudoku puzzles.

				.row.work#work
					.header Work
					.work-slider
						
						.thumb-wrap
							.thumbnail-container
								.thumbnail-unit(data-folder ="work-1", style="background-image: url(assets/img/work/work-1/img1.jpg)")
									.thumbnail-overlay
										strong Lorem Ipsum Post
										//img(src="assets/img/mag-glass.png")
								.thumbnail-unit(data-folder ="work-2", style="background-image: url(assets/img/work/work-2/img1.jpg)")
									.thumbnail-overlay
										strong Artists Template
										//img(src="assets/img/mag-glass.png")
								.thumbnail-unit
									.thumbnail-overlay
										strong Coming Soon!
								//		img(src="assets/img/mag-glass.png")
								.thumbnail-unit
									.thumbnail-overlay
										strong Coming Soon!
								//		img(src="assets/img/mag-glass.png")
						
						.work-wrap
							.work-container
								.work-return
									img(src="assets/img/return.png")
								h4.project-title Sample Work Title
								div.project-load


			footer.row
				.links.text-left
					.link
						a(href="resume.pdf", target="_blank") My résumé

				.footer.col-xs-12
					.container
						a(href="http://github.com/quanhuynh", target="_blank"): img(src="assets/img/github.png")
						a(href="http://facebook.com/quanwuin", target="_blank"): img(src="assets/img/fb_icon.png")
						a(href="http://linkedin.com/in/quanhuynh", target="_blank"): img(src="assets/img/in_icon.jpg")
						//a(href="http://instagram.com/quantum.soup", target="_blank"): img(src="assets/img/insta_icon.png")
						a(href="mailto:quanhuynh@berkeley.edu", target="_blank"): img(src="assets/img/mail_icon.png")

		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src="assets/js/nicescroll/jquery.nicescroll.js")
		script(src="assets/js/functions.js")