doctype html
html
	head
		title Quan Huynh
		meta(name="description", content="Quan Huynh's Personal Website")
		meta(charset="utf-8")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css", type="text/css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')
		// link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
		link(rel="shortcut icon", type="image/x-icon", href="assets/img/page-icon.ico")
	
	body
		
		.landing
			.aside.col-md-6
			.intro.col-md-6
				img(src='assets/img/headshot.jpg')
				.name Quan Huynh
				.description I am a student from UC Berkeley with a passion in software and design, from playing with websites to algorithms. Currently in my second year at Berkeley, I plan on graduating in 2017 and becoming a software engineer in the Bay Area.
				//a(href="") tl;dr
				.temp-links
					a(href="resume.pdf", target="_blank").hover-red-underline Résumé
					a(href="http://linkedin.com/in/quanhuynh", target="_blank").hover-blue-underline LinkedIn
					a(href="http://github.com/quanhuynh", target="_blank").hover-gold-underline Github
					a(href="https://medium.com/@quanhuynh96", target="_blank").hover-paf-underline Medium
			
			