doctype html
html
	head
		title Résumé
		meta(name="description", content="Quan Huynh's Résumé")
		// meta(name="keywords", content="")
		meta(charset="utf-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Poiret+One|Ubuntu+Condensed|Roboto:100,200,600|Oswald|Roboto+Slab|Hind", type="text/css")
		link(rel="stylesheet", href="assets/css/resume.css", type="text/css")

	body
		.container
			.row#heading
				.col-xs-6.text-right
					#name 
						p Quan Huynh
					#title 
						p Student
					#title 
						p Developer
				.col-xs-6.text-left#information
					#info 
						img(src="assets/img/cursor.png")
						p quanhuynh.com
					#info 
						img(src="assets/img/phone.png")
						p 571-499-2051
					#info
						a(href="mailto: quanhuynh96@berkeley.edu")
							img(src="assets/img/email.png")
							p quanhuynh96@berkeley.edu

			.col-lg-12
				ul.breadcrumb.text-right
					li: a(href="index.html") Home
					li: a(href="resume.html") Résumé
					li: a(href="") Projects

			.col-xs-12.divider-col
				div.divider

			.row#current
				.col-xs-6.text-right
					p I'm currently:
				.col-xs-6#goal.text-left
					p learning JavaScript

			.container.content

				.row.section#education
					.col-xs-4.resume-heading.text-right Education
					.col-xs-2.spacer
					.col-xs-6.resume-content.text-left
						.resume-subheading 2010-2014 JEB Stuart High School
							.resume-text Falls Church, VA
							.resume-text GPA: 4.35
						.resume-subheading 2014-2018 University of California, Berkeley
							.resume-text Computer Science BA
							.resume-text Berkeley, CA

				.row.section#experience
					.col-xs-4.resume-heading.text-right Experience
					.col-xs-2.spacer
					.col-xs-6.resume-content.text-left
						.resume-subheading 2010-2011 FCDC Intern
							.resume-text Fairfax County Democratic Committee, Fairfax, VA
						.resume-subheading 2011-2012 OFA Lead Volunteer
							.resume-text Organizing for America, Falls Church, VA
						.resume-subheading 2013-2014 VASTAR Vice President
							.resume-text VA Student Training and Refurbishment Program Falls Church, VA

				.row.section#projects
					.col-xs-4.resume-heading.text-right Projects
					.col-xs-2.spacer
					.col-xs-6.resume-content.text-left
						.resume-subheading Lorem Ipsum Post
							.resume-text Coded from scratch a mock up for a sample news site; used for practice purposes
							.resume-text Basic HTML and CSS

				.row.section#skills
					.col-xs-4.resume-heading.text-right Skills
					.col-xs-2.spacer
					.col-xs-6.resume-content.text-left
						.resume-subheading Technical
							.resume-text Adobe Illustrator, Adobe Photoshop, Python, IDL Programming, Web Development (HTML5, Jade, Sass CSS3, Bootstrap)
						.resume-subheading Interests
							.resume-text Front-end development, Software development, CS Education, Physics, Archery, Sudoku puzzles