@import ../../includes/standard.sass

@import ../../includes/breadcrumb.sass

.divider
	width: 80%
	height: 2px
	margin: 0 auto
	border-radius: 50%
	background: #703030
	margin-bottom: 3%
	padding-bottom: 0.4%

.main-content
	width: 90%
	margin: 0 auto
	.title
		.header
			padding: 2%
			font:
				family: $base-font
				size: 4em
				weight: 600
	.about