$base-font: 'Open Sans', sans-serif;
$palette-red:  #DC403B
$palette-blue: #008BBA
$palette-gold: #FEB960
$dark-pacific: #4C4352
$gray: #A8A8A8

body
	position: relative
	overflow-x: hidden
	margin: 0px
	padding: 0px
	font-size: 10px
	font-family: $base-font
	a
		color: $dark-pacific
		&:hover
			text-decoration: none

::selection
	background: black
	color: white
::-moz-selection
	background: black
	color: white

.hover-red-underline
	&:hover
		border-bottom: solid medium $palette-red
.hover-blue-underline
	&:hover
		border-bottom: solid medium $palette-blue
.hover-gold-underline
	&:hover
		border-bottom: solid medium $palette-gold
.hover-paf-underline
	&:hover
		border-bottom: solid medium $dark-pacific

.landing
	display: flex
	height: 100vh

	.aside
		padding: 0
		background-image: url('/assets/img/workstation-day.png')
		background-size: cover
		background-repeat: no-repeat
		-webkit-transition: background-image 0.2s ease-in-out
		transition: background-image 0.2s ease-in-out
		&:hover
			background-image: url('/assets/img/workstation-night.png')
	.intro
		padding: 5%
		display: flex
		flex-flow: column wrap
		align-items: baseline
		justify-content: center
		img
			width: 200px
			height: 200px
			border-radius: 50%
		.name
			color: $dark-pacific
			padding: 25px 0 25px 0
			font:
				size: 35px
		.description
			color: $dark-pacific
			font:
				size: 20px
				weight: 300
		a
			color: $gray
			font:
				size: 20px
				weight: 300
			transition: linear 0.2s
			&:hover
				color: black
		.temp-links
			padding-top: 30px
			a
				margin-right: 30px
				transition: linear 0.1s 
				