img(src="../../assets/img/work/work-1/img1.jpg", alt="Lorem Ipsum Post")
h5 Lorem Ipsum Post is my first web design project. It was meant as a tool for my learning. Lorem Ipsum Post resembles a home page of a mock news site, with features including a clean navigation bar, featured articles and latest news, and card-style sections.
h5 I designed the page with HTML, CSS, JavaScript and the Bootstrap framework. I hope to be going back and improving the project as I learn more
h5 The project can be found <a href="http://quanhuynh.github.io/news_site_template"> here </a>
img(src="../../assets/img/work/work-1/img2.jpg", alt="Lorem Ipsum Post")
img(src="../../assets/img/work/work-1/img3.jpg", alt="Lorem Ipsum Post")