img(src="../../assets/img/work/work-3/img1.gif", alt="Game of Life")

h3.text-left <strong> About </strong>
h5.text-left When I first started programming, I started contributing to a project called the Daily Programmer. It was a series of online coding challenges at different levels for learning or just for fun. For me it was both. I continued working on my personal Daily Programmer portfolio, and all of my projects can be found on my Github.
h5.text-left The portfolio includes many mini-projects, from easy projects for me to get used to a new language, to a simulator, a small application, or a game. I have also taken inspiration from many topics and expanded them into my own projects.

h3.text-left <strong> Examples </strong>
h5.text-left The first image you saw above was my personal interactive <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"> Conway's Game of Life </a> simulator. I had a lot of fun making and using it. It runs a Conway's Game of Life simulation but the user can determine which cell dies or lives at any given time.
img(src="../../assets/img/work/work-3/img2.gif", alt="Game of Life")
h5.text-left This particular project can be found <a href="https://github.com/quanhuynh/DailyProgrammer/tree/master/other/conways-game-of-life"> here </a>
img(src="../../assets/img/work/work-3/img3.jpg", alt="Minesweeper")
h5.text-left The above screenshot was my implementation of the Minesweeper game in Python, as coded <a href="https://github.com/quanhuynh/DailyProgrammer/tree/master/other/minesweeper"> here </a>
img(src="../../assets/img/work/work-3/img4.png", alt="Langton's Ant")
h5.text-left This is the result of a simulation of <a href="https://en.wikipedia.org/wiki/Langton%27s_ant"> Langton's Ant </a>, but modified to <a href="https://github.com/quanhuynh/DailyProgrammer/tree/master/intermediate/173-langtons-ant"> my liking </a>. This particular image resulted from 12 million generations of Langton's Ant.
h5.text-left These are only a few of my favorite projects in the portfolio. 

h3.text-left <strong> What I Learned </strong>
h5.text-left So many things.
h5.text-left These projects have introduced me to many corners of programming, and allow me to explore them at a starting pace, rather than jumping into a huge project right away. I learned Python GUI, Java GUI, exporting images, working with external files, and many many more things through these mini-projects. 
h5.text-left I plan on continuing doing these challenges in the future. I enjoy doing them and I think they're a good way for me to learn new topics fast. If you would like to check out more of these, visit my <a href="http://github.com/quanhuynh/DailyProgrammer"> <strong> Github repository</strong> </a>, where I also included a solution catalog.