img(src="../../assets/img/work/work-1/img1.jpg", alt="PresentText")
h5.text-left PresentText is a Google Chrome extension that allows the user to put highlighted text into focus on a page and dims the light on the rest of the page. This allows for easy, distraction-free reading or for an actual presentation, where focus is needed on only a small passage.
h5.text-left Currently, I've only built the core functionality of PresentText, which includes the on/off functionality, layering a dark cover over the page, and smooth transitions. I plan to bring multiple colors and opacity options to the extension soon.
img(src="../../assets/img/work/work-1/img2.jpg", alt="PresentText")
h5.text-left The extension is not publicly available just yet.
img(src="../../assets/img/work/work-1/img3.jpg", alt="PresentText")