img(src="../../assets/img/work/work-2/img1.jpg", alt="Chau Huynh")
h5 A work in progress. I made a personal website template, using my sister as a model. Features of the website include a modifiable skills section, an interactive portfolio, and easy navigation.
h5 The project can be found <a href="http://mchuynh.github.io"> here </a>
img(src="../../assets/img/work/work-2/img2.jpg", alt="Chau Huynh")
img(src="../../assets/img/work/work-2/img3.jpg", alt="Chau Huynh")